[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
numpy = "*"
torch = "==0.4.1"
torchvision = "*"
comet-ml = "*"
pandas = "*"
skorch = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.6"
